/* Sidebar.css */
.sidebar {
    width: 20vw;
    background-color: #333;
    color: #fff;
    overflow-y: auto; 
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
  }
  
  .sidebar h2 {
    padding: 20px;
    margin: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 12px 20px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #555;
  }
  
  /* Styles for the collapsible submenu */
  .submenu {
    display: none;
    padding-left: 20px;
  }
  
  .submenu.active {
    display: block;
  }
  
  /* Styling for the button */
.custom-button {
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    border: none;
    border-radius: 5px; 
    background-color: #49d89d;
    color: #fff; 
    cursor: pointer; 
    margin: 2.5rem;
  }
  
  /* Hover effect */
  .custom-button:hover {
    background-color: #2980b9; 
  }
  