/* SmallDivComponent.css */

.small-div {
    width: 15em; 
    height: 7em; 
    background-color: #f0f0f0;
    color: #333; 
    border: 1px solid #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    border-radius: 5%;
  }
.inner-div{
  width: 13em; 
  height: 3em; 
  background-color: #8a8181;
  border-radius: 3px;
}